body {
    text-align: center;
    margin: 0 auto;
    padding: 0 4rem;
}

footer {
    margin: 5rem auto 0;
    width: 100%;
    font-style: italic;
}

.pacman {
    height: 200px;
    width: 200px;
    display: inline-block;
    text-align: center;
    background-image: paint(Pacman);
}

#p1 {
    --pacman-color-one: lightseagreen;
    --pacman-color-two: khaki;
}

#p2 {
    --pacman-color-one: fuchsia;
    --pacman-color-two: navajowhite;
}

#p3 {
    --pacman-color-one: turquoise;
    --pacman-color-two: rebeccapurple;
}

#p4 {
    --pacman-color-one: indianred;
    --pacman-color-two: lawngreen;
}

/* h1,
h2,
h3 {
    background-image: paint(HeadingPainter);
} */

h1 {
    /* --line-color: wheat;
    --line-thickness: 1px; */
    --hover: cadetblue;
    background: linear-gradient(white, var(--hover));
    transition: --hover 1s;
}

h1:hover,
h1:focus,
h1:active {
    --hover: burlywood;
}

/* h2 {
    --line-color: powderblue;
    --line-thickness: 2px;
}

h3 {
    --line-thickness: 3px;
}

h3 .pirate {
    --line-color: silver;
}

h3 .sagan {
    --line-color: skyblue;
}

h3 .cheese {
    --line-color: bisque;
} */

#warning {
    display: none;
    padding: 1rem;
    margin: 1rem auto;
    background-color: orange;
    border: 2px solid black;
}

.no-paintapi-support #warning,
.no-animationapi-support #warning,
.no-layoutapi-support #warning {
    display: block;
}