html {
    position: relative;
    min-height: 100%;
}

body {
    text-align: center;
    margin: 0 auto 5rem;
    padding: 0 4rem;
    min-height: 100%;
}

footer {
    height: 4rem;
    margin-top: 1rem;
    width: 100%;
    font-style: italic;
    position: absolute;
    bottom: 0;
    left: 0;
}

.pacman {
    height: 200px;
    width: 200px;
    display: inline-block;
    text-align: center;
    background-image: paint(Pacman);
}

#p1 {
    --pacman-color-one: #ea5732;
    --pacman-color-two: #bada55;
}

#p2 {
    --pacman-color-one: #e66;
    --pacman-color-two: #101ca7;
}

#p3 {
    --pacman-color-one: #bada55;
    --pacman-color-two: #60061e;
}

#p4 {
    --pacman-color-one: #ba11e2;
    --pacman-color-two: #c0ffee;
}

#page-title {
    color: white;
    --hover: #D4D;
    background: linear-gradient(#60D, var(--hover));
    transition: --hover 2s;
}

#page-title:hover {
    --hover: #666;
}

h2,
h3 {
    width: max-content;
    line-height: 2rem;
    padding-bottom: 1rem;
    margin: 0 auto;
}

h2 {
    --line-color: powderblue;
    --line-width: 20px;
    background-image: paint(HeadingUnderline);
}

h3.pirate {
    --line-width: 10px;
    --line-color: silver;
    background-image: paint(HeadingUnderline);
}

h3.sagan {
    --line-width: 8px;
    --line-color: skyblue;
    background-image: paint(HeadingUnderline);
}

h3.cheese {
    --line-width: 5px;
    --line-color: bisque;
    background-image: paint(HeadingUnderline);
}

#warning {
    display: none;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #F81;
    border: 2px solid #101;
}

.no-houdini-support #warning {
    display: block;
}