body {
    text-align: center;
    margin: 0 auto;
    padding: 0 4rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
}

#pacman {
    height: 200px;
    width: auto;
    text-align: center;
    --magic-color-one: lightseagreen;
    --magic-color-two: khaki;
}

#warning {
    display: none;
    padding: 1rem;
    margin: 1rem auto;
    background-color: orange;
    border: 2px solid black;
}

.no-paintapi-support #warning {
    display: block;
}